@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
/*  Colors  */
.violet {
    color: violet;
}
.light-blue {
    color: rgb(68, 138, 255);
}
.dark-blue {
    color: rgb(0,51,102);
}
.green {
    color: #008B00;
}

#svg {
    width: 90%;
    height: auto;
}
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}
p,h1,h2,h3,h4,h5,h6,span{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
	height: 18px;     
    padding-top: 2px;
    line-height: 14px;
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
        
/* Legend Font Style */
body {
	font: 15px sans-serif;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}
        
/* Legend Position Style */
.legend {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
	position: fixed;
    bottom: 0%;
    right: 1%;
    height: 30vh;
    width: 20vw;
    background-color: white;
    border-radius: 15px;
}

@media screen and (max-width: 900px) {
    .legend {
        position: fixed;
        bottom: 10%;

        height: 30vh;
        width: 50vw;
    }
}

