#svg {
    width: 90%;
    height: auto;
}
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
	height: 18px;     
    padding-top: 2px;
    line-height: 14px;
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body {
	font: 15px sans-serif;
}
        
/* Legend Position Style */
.legend {
	position: fixed;
    bottom: 1%;
    right: 1%;
    height: 30vh;
    width: 20vw;
}

@media screen and (max-width: 900px) {
    .legend {
        position: fixed;
        bottom: 10%;

        height: 30vh;
        width: 50vw;
    }
}